/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
    show-icons:                 true;
//    display-drun:               "🔍";
	drun-display-format:        "{name}";
}

/*****----- Global Properties -----*****/
@import                          "shared/colors.rasi"
@import                          "shared/fonts.rasi"

